{
  "root": true,
  "extends": [
    "standard",
    "standard-jsx",
    "standard-with-typescript"
  ],
  "rules": {
    "max-len": [
      "error",
      100
    ],
    "no-unused-vars": [
      "error",
      {
        "varsIgnorePattern": "^_"
      }
    ]
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "ignorePatterns": [
    "vite-env.d.ts",
    "/ble-value/server/index.js"
  ]
}
